################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sketch1/.vs/Sketch1/v16
/Sketch1/__vm
